.myMassage{
    padding: 10px;
    margin: 0 0 15px 10px;
    border-radius: 15px;
    background-color: #ffffff;
    color:#111111;
}
.frendsMassage{
    padding: 10px;
    margin: 0 0 15px 300px;
    border-radius: 15px;
    background-color: #ffffff;
    color:#111111;
}