.navBar{
  background-color: blue;
}

.nav{
    grid-area: n;
    
    padding: 20px;
  }

.item a{
  text-decoration: none;
}  

.item a.activeLink{
  color: red;
}

.item a.inactiveLink{
  color: #ffffff;
}

