.navBar{
  background-color: blue;
}

.nav{
    grid-area: n;
    
    padding: 20px;
  }

.item a{
  text-decoration: none;
}  

.item a.activeLink{
  color: red;
}

.item a.inactiveLink{
  color: #ffffff;
}

.frend{
  margin: 0 0 10px 20px;
}

.frend img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}